<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div class="product-view">
    <div class="product-essential">
    <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <div class="no-display">
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
            <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>
 
        <div class="product-shop">
            <div class="product-name">
                <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
            </div>
 
            <?php echo $this->getChildHtml('product_type_data') ?>


            <?php if ($_product->getShortDescription()){?>
                <div class="short-description">
                    <div class="std"><?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?></div>
                </div>
            <?php } ?>
 
            <?php if (!$this->hasOptions()):?>
                <div class="add-to-box">
                    <?php if($_product->isSaleable()): ?>
                        <?php echo $this->getChildHtml('addtocart') ?>
                        <?php echo $this->getChildHtml('addto') ?>
                    <?php endif; ?>
                </div>
            <?php endif; ?>
 
            <?php if ($_product->isSaleable() && $this->hasOptions() && $this->getChildChildHtml('container1', '', true, true)):?>
                <div id="container1">
                    <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                </div>
                
            <?php endif;?>
 

        <div class="clearer"></div>
        <?php if ($_product->isSaleable() && $this->hasOptions() && $this->getChildChildHtml('container2', '', true, true)):?>
            <div id="container2">
                <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
            </div>
            
        <?php endif;?>
                </div>
    </form>
 <script type="text/javascript">
    //<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(button, url) {
        if (this.validator.validate()) {
            var form = this.form;
            var oldUrl = form.action;
            if (url) {
                form.action = url;
            }
            var e = null;
            // Start of our new ajax code
            if (!url) {
                url = jQuery('#product_addtocart_form').attr('action');
            }
            url = url.replace("checkout/cart","ajax/index"); // New Code
            var data = jQuery('#product_addtocart_form').serialize();
            data += '&isAjax=1';
            try {
                jQuery.ajax( {
                    url : url,
                    dataType : 'json',
                    type : 'post',
                    data : data,
                    success : function(data) {
                        if(data.status == 'SUCCESS'){    
                             jQuery("html, body").animate({ scrollTop: 0 }, 500);            
                        }
                        parent.setAjaxData(data,true);
                        alert("El producto fue añadido al carrito.");
                    }
                });
            } catch (e) {
            }
            // End of our new ajax code
            this.form.action = oldUrl;
            if (e) {
                throw e;
            }
        }
    }.bind(productAddToCartForm);
    productAddToCartForm.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);
    //]]>
    </script>
    </div>
</div>
<script type="text/javascript">
jQuery(document).ready(function (){
   jQuery(window).bind('load', function () {
        var y = jQuery('.ajax-index-options').height()+100;
        parent.jQuery.fn.colorbox.resize({
				   width: "420px",
				   height: y
				}); 
    });
 });
    </script> 
