<h4 class="spb_heading">
    <p>Freestyle</p>

    <div class="heading-icon"></div>
</h4>


<div>
<h3 class="title-widget-product">Arma el plan a tu medida</h3>

<div id="products" class="row">
<!--Skinny Green-->
<div class="col-xs-12 col-lg-12 product-item">
    <div class="">
        <div class="row row-centered">
            <div class="col-sm-2 col-centered">
                <div class="item-align">
                    <div class="content-align">
                        <a href="http://resetjuice.com.mx/index.php/skinny-green.html">
                            <img class="group"
                                 src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/s/k/skinny-green-pequen_o.jpg"
                                 alt="Small">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 col-centered">
                <!-- 					<img style="visibility:hidden" class="group" src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/s/k/skinny-green-pequen_o.jpg" alt="Small" />					             -->

                <div class="item-align">
                    <div class="content-align-left">
                        <a href="http://resetjuice.com.mx/index.php/skinny-green.html">
                            <h2 class="group inner list-group-item-heading">
                                Refresca tu dia con <span class="skinny-green">Skinny Green</span></h2>
                        </a>

                        <p class="group inner list-group-item-text">
                            Fortalece el sistema inmunológico (gran valor vitamínico), nivela la presión arterial y
                            eleva la oxigenación de la sangre.<br>
                            <br>
                            Contiene: pepino, lechuga, manzana, perejil, espinaca y limón, por día.<br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-centered">
                <!-- 					<img style="visibility:hidden" class="group" src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/s/k/skinny-green-pequen_o.jpg" alt="Small" />					             -->

                <div class="item-align">
                    <div class="content-align">

                        <div class="">

                            <a class="btn btn-cart button add_to_cart_small button-ajax-cart-id-7"
                               onclick="ajaxcart('http://resetjuice.com.mx/index.php/checkout/cart/add/uenc/aHR0cDovL3Jlc2V0anVpY2UuY29tLm14L2luZGV4LnBocC8,/product/7/form_key/M6UUTmtz0FA5B6vn/','7');">
                                <!-- 												<i class="fa fa-plus"> </i> -->
                                Quiero mi Detox</a>


                        </div>
                        <div class="novaworks-quick-act">

                        </div>
                        <div class="">
                            <div class="novaworks-social-share">
                                <ul>

                                    <li class="facebook">
                                        <a href="http://www.facebook.com/sharer.php?u=http://resetjuice.com.mx/index.php/skinny-green.html&amp;images=http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/s/k/skinny-green-pequen_o.jpg"
                                           target="_blank" title="Compartir en Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>

                                    <li class="twitter">
                                        <a href="https://twitter.com/share?url=http://resetjuice.com.mx/index.php/skinny-green.html"
                                           target="_blank" title="Compartir en Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>

                                    <li class="pinterest">
                                        <a href="//pinterest.com/pin/create/button/?url=http://resetjuice.com.mx/index.php/skinny-green.html&amp;media=http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/s/k/skinny-green-pequen_o.jpg&amp;description=Fortalece el sistema inmunológico (gran valor vitamínico), nivela la presión arterial y eleva la oxigenación de la sangre.&lt;br /&gt;
&lt;br /&gt;
Contiene: pepino, lechuga, manzana, perejil, espinaca y limón, por día.&lt;br /&gt;
" target="_blank" title="Pin on Pinterest">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Vitaly Milk-->
<div class="col-xs-12 col-lg-12 product-item">
    <div class="">
        <div class="row row-centered">
            <div class="col-sm-2 col-centered">
                <div class="item-align">
                    <div class="content-align">
                        <a href="http://resetjuice.com.mx/index.php/vitality-mylk.html">
                            <img class="group"
                                 src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/v/i/vitality-mylk-pequen_o.jpg"
                                 alt="Small">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 col-centered">
                <!-- 					<img style="visibility:hidden" class="group" src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/v/i/vitality-mylk-pequen_o.jpg" alt="Small" />					             -->

                <div class="item-align">
                    <div class="content-align-left">
                        <a href="http://resetjuice.com.mx/index.php/vitality-mylk.html">
                            <h2 class="group inner list-group-item-heading">
                                Llenate de sabiduria con <span class="vitaly-milk">Vitality-Mylk</span></h2>
                        </a>

                        <p class="group inner list-group-item-text">
                            Ayuda al buen funcionamiento del corazón además de fortalecer los huesos. Es un soporte para
                            el colesterol bueno, alto en proteínas vegetales y anticancerígeno.<br>
                            <br>
                            Contiene: agua, nuez de la India, semillas de hemp, agave, vainilla, sal del Himalaya, por
                            día.<br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-centered">
                <!-- 					<img style="visibility:hidden" class="group" src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/v/i/vitality-mylk-pequen_o.jpg" alt="Small" />					             -->

                <div class="item-align">
                    <div class="content-align">

                        <div class="">

                            <a class="btn btn-cart button add_to_cart_small button-ajax-cart-id-10"
                               onclick="ajaxcart('http://resetjuice.com.mx/index.php/checkout/cart/add/uenc/aHR0cDovL3Jlc2V0anVpY2UuY29tLm14L2luZGV4LnBocC8,/product/10/form_key/M6UUTmtz0FA5B6vn/','10');">
                                <!-- 												<i class="fa fa-plus"> </i> -->
                                Quiero mi Detox</a>


                        </div>
                        <div class="novaworks-quick-act">

                        </div>
                        <div class="">
                            <div class="novaworks-social-share">
                                <ul>

                                    <li class="facebook">
                                        <a href="http://www.facebook.com/sharer.php?u=http://resetjuice.com.mx/index.php/vitality-mylk.html&amp;images=http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/v/i/vitality-mylk-pequen_o.jpg"
                                           target="_blank" title="Compartir en Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>

                                    <li class="twitter">
                                        <a href="https://twitter.com/share?url=http://resetjuice.com.mx/index.php/vitality-mylk.html"
                                           target="_blank" title="Compartir en Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>

                                    <li class="pinterest">
                                        <a href="//pinterest.com/pin/create/button/?url=http://resetjuice.com.mx/index.php/vitality-mylk.html&amp;media=http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/v/i/vitality-mylk-pequen_o.jpg&amp;description=Ayuda al buen funcionamiento del corazón además de fortalecer los huesos. Es un soporte para el colesterol bueno, alto en proteínas vegetales y anticancerígeno.&lt;br /&gt;
&lt;br /&gt;
Contiene: agua, nuez de la India, semillas de hemp, agave, vainilla, sal del Himalaya, por día.&lt;br /&gt;
" target="_blank" title="Pin on Pinterest">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Greenergy-->
<div class="col-xs-12 col-lg-12 product-item">
    <div class="">
        <div class="row row-centered">
            <div class="col-sm-2 col-centered">
                <div class="item-align">
                    <div class="content-align">
                        <a href="http://resetjuice.com.mx/index.php/greenergy.html">
                            <img class="group"
                                 src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/g/r/greenergy-pequen_o.jpg"
                                 alt="Small">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 col-centered">
                <!-- 					<img style="visibility:hidden" class="group" src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/g/r/greenergy-pequen_o.jpg" alt="Small" />					             -->

                <div class="item-align">
                    <div class="content-align-left">
                        <a href="http://resetjuice.com.mx/index.php/greenergy.html">
                            <h2 class="group inner list-group-item-heading">
                                Energizate con <span class="greenergy">Greenergy</span></h2>
                        </a>

                        <p class="group inner list-group-item-text">
                            Fortalece el sistema inmunológico y contiene una poderosa ola de vitaminas. Es alto en
                            antioxidantes, reduce la presión arterial y reafirma la piel.<br>
                            <br>
                            Contiene: manzana, pepino, apio, espinacas, col rizada, limón y sal de mar, por día.<br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-centered">
                <!-- 					<img style="visibility:hidden" class="group" src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/g/r/greenergy-pequen_o.jpg" alt="Small" />					             -->

                <div class="item-align">
                    <div class="content-align">

                        <div class="">

                            <a class="btn btn-cart button add_to_cart_small button-ajax-cart-id-4"
                               onclick="ajaxcart('http://resetjuice.com.mx/index.php/checkout/cart/add/uenc/aHR0cDovL3Jlc2V0anVpY2UuY29tLm14L2luZGV4LnBocC8,/product/4/form_key/M6UUTmtz0FA5B6vn/','4');">
                                <!-- 												<i class="fa fa-plus"> </i> -->
                                Quiero mi Detox</a>


                        </div>
                        <div class="novaworks-quick-act">

                        </div>
                        <div class="">
                            <div class="novaworks-social-share">
                                <ul>

                                    <li class="facebook">
                                        <a href="http://www.facebook.com/sharer.php?u=http://resetjuice.com.mx/index.php/greenergy.html&amp;images=http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/g/r/greenergy-pequen_o.jpg"
                                           target="_blank" title="Compartir en Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>

                                    <li class="twitter">
                                        <a href="https://twitter.com/share?url=http://resetjuice.com.mx/index.php/greenergy.html"
                                           target="_blank" title="Compartir en Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>

                                    <li class="pinterest">
                                        <a href="//pinterest.com/pin/create/button/?url=http://resetjuice.com.mx/index.php/greenergy.html&amp;media=http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/g/r/greenergy-pequen_o.jpg&amp;description=Fortalece el sistema inmunológico y contiene una poderosa ola de vitaminas. Es alto en antioxidantes, reduce la presión arterial y reafirma la piel.&lt;br /&gt;
&lt;br /&gt;
Contiene: manzana, pepino, apio, espinacas, col rizada, limón y sal de mar, por día.&lt;br /&gt;
" target="_blank" title="Pin on Pinterest">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Unbeetable-->
<div class="col-xs-12 col-lg-12 product-item">
    <div class="">
        <div class="row row-centered">
            <div class="col-sm-2 col-centered">
                <div class="item-align">
                    <div class="content-align">
                        <a href="http://resetjuice.com.mx/index.php/unbeetable.html">
                            <img class="group"
                                 src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/u/b/ubeetable-pequen_o.jpg"
                                 alt="Small">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 col-centered">
                <!-- 					<img style="visibility:hidden" class="group" src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/u/b/ubeetable-pequen_o.jpg" alt="Small" />					             -->

                <div class="item-align">
                    <div class="content-align-left">
                        <a href="http://resetjuice.com.mx/index.php/unbeetable.html">
                            <h2 class="group inner list-group-item-heading">
                                Defiendete con <span class="unbeetable">Unbeetable</span></h2>
                        </a>

                        <p class="group inner list-group-item-text">
                            Alcaliniza tu cuerpo, es tonificante y antioxidante además de anti-anémico. Contiene
                            propiedades anticancerígenas y es un renovador natural. Ayuda a regenerar el hígado, limpiar
                            el colon y tiene propiedades anti-alérgicas. <br>
                            <br>
                            Contiene: zanahoria, pepino, betabel, manzana, apio y limón, por día. <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-centered">
                <!-- 					<img style="visibility:hidden" class="group" src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/u/b/ubeetable-pequen_o.jpg" alt="Small" />					             -->

                <div class="item-align">
                    <div class="content-align">

                        <div class="">

                            <a class="btn btn-cart button add_to_cart_small button-ajax-cart-id-9"
                               onclick="ajaxcart('http://resetjuice.com.mx/index.php/checkout/cart/add/uenc/aHR0cDovL3Jlc2V0anVpY2UuY29tLm14L2luZGV4LnBocC8,/product/9/form_key/M6UUTmtz0FA5B6vn/','9');">
                                <!-- 												<i class="fa fa-plus"> </i> -->
                                Quiero mi Detox</a>


                        </div>
                        <div class="novaworks-quick-act">

                        </div>
                        <div class="">
                            <div class="novaworks-social-share">
                                <ul>

                                    <li class="facebook">
                                        <a href="http://www.facebook.com/sharer.php?u=http://resetjuice.com.mx/index.php/unbeetable.html&amp;images=http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/u/b/ubeetable-pequen_o.jpg"
                                           target="_blank" title="Compartir en Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>

                                    <li class="twitter">
                                        <a href="https://twitter.com/share?url=http://resetjuice.com.mx/index.php/unbeetable.html"
                                           target="_blank" title="Compartir en Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>

                                    <li class="pinterest">
                                        <a href="//pinterest.com/pin/create/button/?url=http://resetjuice.com.mx/index.php/unbeetable.html&amp;media=http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/u/b/ubeetable-pequen_o.jpg&amp;description=Alcaliniza tu cuerpo, es tonificante y antioxidante además de anti-anémico. Contiene propiedades anticancerígenas y es un renovador natural. Ayuda a regenerar el hígado, limpiar el colon y tiene propiedades anti-alérgicas. &lt;br /&gt;
&lt;br /&gt;
Contiene: zanahoria, pepino, betabel, manzana, apio y limón, por día.	&lt;br /&gt;
" target="_blank" title="Pin on Pinterest">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--C Master-->
<div class="col-xs-12 col-lg-12 product-item">
    <div class="">
        <div class="row row-centered">
            <div class="col-sm-2 col-centered">
                <div class="item-align">
                    <div class="content-align">
                        <a href="http://resetjuice.com.mx/index.php/c-master.html">
                            <img class="group"
                                 src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/c/-/c-master-pequen_o.jpg"
                                 alt="Small">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 col-centered">
                <!-- 					<img style="visibility:hidden" class="group" src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/c/-/c-master-pequen_o.jpg" alt="Small" />					             -->

                <div class="item-align">
                    <div class="content-align-left">
                        <a href="http://resetjuice.com.mx/index.php/c-master.html">
                            <h2 class="group inner list-group-item-heading">
                                Revive con <span class="c-master">C-Master</span></h2>
                        </a>

                        <p class="group inner list-group-item-text">
                            Tiene propiedades anti-inflamatorias y es regenerador de vasos capilares, incrementa tu
                            energía y es terapéutico para el hígado. Ayuda a reducir el colesterol, mejora la digestión
                            y protege el sistema nervioso.<br>
                            <br>
                            Contiene: zanahoria, naranja y jícama, por día.<br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-centered">
                <!-- 					<img style="visibility:hidden" class="group" src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/c/-/c-master-pequen_o.jpg" alt="Small" />					             -->

                <div class="item-align">
                    <div class="content-align">

                        <div class="">

                            <a class="btn btn-cart button add_to_cart_small button-ajax-cart-id-3"
                               onclick="ajaxcart('http://resetjuice.com.mx/index.php/checkout/cart/add/uenc/aHR0cDovL3Jlc2V0anVpY2UuY29tLm14L2luZGV4LnBocC8,/product/3/form_key/M6UUTmtz0FA5B6vn/','3');">
                                <!-- 												<i class="fa fa-plus"> </i> -->
                                Quiero mi Detox</a>


                        </div>
                        <div class="novaworks-quick-act">

                        </div>
                        <div class="">
                            <div class="novaworks-social-share">
                                <ul>

                                    <li class="facebook">
                                        <a href="http://www.facebook.com/sharer.php?u=http://resetjuice.com.mx/index.php/c-master.html&amp;images=http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/c/-/c-master-pequen_o.jpg"
                                           target="_blank" title="Compartir en Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>

                                    <li class="twitter">
                                        <a href="https://twitter.com/share?url=http://resetjuice.com.mx/index.php/c-master.html"
                                           target="_blank" title="Compartir en Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>

                                    <li class="pinterest">
                                        <a href="//pinterest.com/pin/create/button/?url=http://resetjuice.com.mx/index.php/c-master.html&amp;media=http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/c/-/c-master-pequen_o.jpg&amp;description=Tiene propiedades anti-inflamatorias y es regenerador de vasos capilares, incrementa tu energía y es terapéutico para el hígado. Ayuda a reducir el colesterol, mejora la digestión y protege el sistema nervioso.&lt;br /&gt;
&lt;br /&gt;
Contiene: zanahoria, naranja y jícama, por día.&lt;br /&gt;
" target="_blank" title="Pin on Pinterest">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Spicy Limonata-->
<div class="col-xs-12 col-lg-12 product-item">
    <div class="">
        <div class="row row-centered">
            <div class="col-sm-2 col-centered">
                <div class="item-align">
                    <div class="content-align">
                        <a href="http://resetjuice.com.mx/index.php/spicy-limonata.html">
                            <img class="group"
                                 src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/s/p/spicy-limonata-pequen_o.jpg"
                                 alt="Small">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 col-centered">
                <!-- 					<img style="visibility:hidden" class="group" src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/s/p/spicy-limonata-pequen_o.jpg" alt="Small" />					             -->

                <div class="item-align">
                    <div class="content-align-left">
                        <a href="http://resetjuice.com.mx/index.php/spicy-limonata.html">
                            <h2 class="group inner list-group-item-heading">
                                Tonificate con <span class="spicy-limonata">Spicy Limonata</span></h2>
                        </a>

                        <p class="group inner list-group-item-text">
                            Ayuda a quemar el exceso de grasa acumulada, estimula la producción de colágeno manteniendo
                            la piel saludable desde dentro y a disolver el ácido úrico. Contiene propiedades
                            antigripales y estimula la circulación y los jugos gástricos para una mejor digestión. Ayuda
                            a acelerar el metabolismo y es diurético.<br>
                            <br>
                            Contiene: toronja, agua, limón, pimienta cayena y agave, por día.<br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-centered">
                <!-- 					<img style="visibility:hidden" class="group" src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/s/p/spicy-limonata-pequen_o.jpg" alt="Small" />					             -->

                <div class="item-align">
                    <div class="content-align">

                        <div class="">

                            <a class="btn btn-cart button add_to_cart_small button-ajax-cart-id-8"
                               onclick="ajaxcart('http://resetjuice.com.mx/index.php/checkout/cart/add/uenc/aHR0cDovL3Jlc2V0anVpY2UuY29tLm14L2luZGV4LnBocC8,/product/8/form_key/M6UUTmtz0FA5B6vn/','8');">
                                <!-- 												<i class="fa fa-plus"> </i> -->
                                Quiero mi Detox</a>


                        </div>
                        <div class="novaworks-quick-act">

                        </div>
                        <div class="">
                            <div class="novaworks-social-share">
                                <ul>

                                    <li class="facebook">
                                        <a href="http://www.facebook.com/sharer.php?u=http://resetjuice.com.mx/index.php/spicy-limonata.html&amp;images=http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/s/p/spicy-limonata-pequen_o.jpg"
                                           target="_blank" title="Compartir en Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>

                                    <li class="twitter">
                                        <a href="https://twitter.com/share?url=http://resetjuice.com.mx/index.php/spicy-limonata.html"
                                           target="_blank" title="Compartir en Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>

                                    <li class="pinterest">
                                        <a href="//pinterest.com/pin/create/button/?url=http://resetjuice.com.mx/index.php/spicy-limonata.html&amp;media=http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/s/p/spicy-limonata-pequen_o.jpg&amp;description=Ayuda a quemar el exceso de grasa acumulada, estimula la producción de colágeno manteniendo la piel saludable desde dentro y a disolver el ácido úrico. Contiene propiedades antigripales y estimula la circulación y los jugos gástricos para una mejor digestión. Ayuda a acelerar el metabolismo y es diurético.&lt;br /&gt;
&lt;br /&gt;
Contiene: toronja, agua, limón, pimienta cayena y agave, por día.&lt;br /&gt;
" target="_blank" title="Pin on Pinterest">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!--Pinebliss-->
<div class="col-xs-12 col-lg-12 product-item">
    <div class="">
        <div class="row row-centered">
            <div class="col-sm-2 col-centered">
                <div class="item-align">
                    <div class="content-align">
                        <a href="http://resetjuice.com.mx/index.php/pinebliss.html">
                            <img class="group"
                                 src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/p/i/pinebliss-pequen_o.jpg"
                                 alt="Small">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 col-centered">
                <!-- 					<img style="visibility:hidden" class="group" src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/p/i/pinebliss-pequen_o.jpg" alt="Small" />					             -->

                <div class="item-align">
                    <div class="content-align-left">
                        <a href="http://resetjuice.com.mx/index.php/pinebliss.html">
                            <h2 class="group inner list-group-item-heading">
                                Siente <span class="pinebliss">Pinebliss</span></h2>
                        </a>

                        <p class="group inner list-group-item-text">
                            Fortalece el sistema nervioso y las funciones cerebrales. Asimismo ayuda a regular los
                            niveles de azúcar en la sangre y tiene un alto contenido en vitaminas y minerales.
                            Contribuye a la reducción de colesterol y triglicéridos además de tener un alto contenido de
                            antioxidantes y propiedades anti-inflamatorias.<br>
                            <br>
                            Contiene: naranja, piña, pepino, jengibre, limón, cúrcuma, pimienta, cayena, por día.<br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-centered">
                <!-- 					<img style="visibility:hidden" class="group" src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/p/i/pinebliss-pequen_o.jpg" alt="Small" />					             -->

                <div class="item-align">
                    <div class="content-align">

                        <div class="">

                            <a class="btn btn-cart button add_to_cart_small button-ajax-cart-id-6"
                               onclick="ajaxcart('http://resetjuice.com.mx/index.php/checkout/cart/add/uenc/aHR0cDovL3Jlc2V0anVpY2UuY29tLm14L2luZGV4LnBocC8,/product/6/form_key/M6UUTmtz0FA5B6vn/','6');">
                                <!-- 												<i class="fa fa-plus"> </i> -->
                                Quiero mi Detox</a>


                        </div>
                        <div class="novaworks-quick-act">

                        </div>
                        <div class="">
                            <div class="novaworks-social-share">
                                <ul>

                                    <li class="facebook">
                                        <a href="http://www.facebook.com/sharer.php?u=http://resetjuice.com.mx/index.php/pinebliss.html&amp;images=http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/p/i/pinebliss-pequen_o.jpg"
                                           target="_blank" title="Compartir en Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>

                                    <li class="twitter">
                                        <a href="https://twitter.com/share?url=http://resetjuice.com.mx/index.php/pinebliss.html"
                                           target="_blank" title="Compartir en Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>

                                    <li class="pinterest">
                                        <a href="//pinterest.com/pin/create/button/?url=http://resetjuice.com.mx/index.php/pinebliss.html&amp;media=http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/p/i/pinebliss-pequen_o.jpg&amp;description=Fortalece el sistema nervioso y las funciones cerebrales. Asimismo ayuda a regular los niveles de azúcar en la sangre y tiene un alto contenido en vitaminas y minerales. Contribuye a la reducción de colesterol y triglicéridos además de tener un alto contenido de antioxidantes y propiedades anti-inflamatorias.&lt;br /&gt;
&lt;br /&gt;
Contiene: naranja, piña, pepino, jengibre, limón, cúrcuma, pimienta, cayena, por día.&lt;br /&gt;
" target="_blank" title="Pin on Pinterest">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Almond Power-->
<div class="col-xs-12 col-lg-12 product-item">
    <div class="">
        <div class="row row-centered">
            <div class="col-sm-2 col-centered">
                <div class="item-align">
                    <div class="content-align">
                        <a href="http://resetjuice.com.mx/index.php/almond-power.html">
                            <img class="group"
                                 src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/a/l/almond-power-pequen_o_1.jpg"
                                 alt="Small">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 col-centered">
                <!-- 					<img style="visibility:hidden" class="group" src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/a/l/almond-power-pequen_o_1.jpg" alt="Small" />					             -->

                <div class="item-align">
                    <div class="content-align-left">
                        <a href="http://resetjuice.com.mx/index.php/almond-power.html">
                            <h2 class="group inner list-group-item-heading">
                                Siente la fuerza con <span class="almond-power">Almond Power</span></h2>
                        </a>

                        <p class="group inner list-group-item-text">
                            Excelente fuente de grasas benéficas, con alto contenido de proteína vegetal. Ayuda a
                            proteger el sistema nervioso, está cargado de antioxidantes y mejora la digestión.<br>
                            <br>
                            Contiene: agua, almendras, pepino, agave, vainilla, clorofila, sal del Himalaya, por
                            día.<br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-centered">
                <!-- 					<img style="visibility:hidden" class="group" src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/a/l/almond-power-pequen_o_1.jpg" alt="Small" />					             -->

                <div class="item-align">
                    <div class="content-align">

                        <div class="">

                            <a class="btn btn-cart button add_to_cart_small button-ajax-cart-id-2"
                               onclick="ajaxcart('http://resetjuice.com.mx/index.php/checkout/cart/add/uenc/aHR0cDovL3Jlc2V0anVpY2UuY29tLm14L2luZGV4LnBocC8,/product/2/form_key/M6UUTmtz0FA5B6vn/','2');">
                                <!-- 												<i class="fa fa-plus"> </i> -->
                                Quiero mi Detox</a>


                        </div>
                        <div class="novaworks-quick-act">

                        </div>
                        <div class="">
                            <div class="novaworks-social-share">
                                <ul>

                                    <li class="facebook">
                                        <a href="http://www.facebook.com/sharer.php?u=http://resetjuice.com.mx/index.php/almond-power.html&amp;images=http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/a/l/almond-power-pequen_o_1.jpg"
                                           target="_blank" title="Compartir en Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>

                                    <li class="twitter">
                                        <a href="https://twitter.com/share?url=http://resetjuice.com.mx/index.php/almond-power.html"
                                           target="_blank" title="Compartir en Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>

                                    <li class="pinterest">
                                        <a href="//pinterest.com/pin/create/button/?url=http://resetjuice.com.mx/index.php/almond-power.html&amp;media=http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/a/l/almond-power-pequen_o_1.jpg&amp;description=Excelente fuente de grasas benéficas, con alto contenido de proteína vegetal. Ayuda a proteger el sistema nervioso, está cargado de antioxidantes y mejora la digestión.&lt;br /&gt;
&lt;br /&gt;
Contiene: agua, almendras, pepino, agave, vainilla, clorofila, sal del Himalaya, por día.&lt;br /&gt;
" target="_blank" title="Pin on Pinterest">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Immune Boost-->
<div class="col-xs-12 col-lg-12 product-item">
    <div class="">
        <div class="row row-centered">
            <div class="col-sm-2 col-centered">
                <div class="item-align">
                    <div class="content-align">
                        <a href="http://resetjuice.com.mx/index.php/immune-boost.html">
                            <img class="group"
                                 src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/i/m/immune-boost-pequen_o.jpg"
                                 alt="Small">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 col-centered">
                <!-- 					<img style="visibility:hidden" class="group" src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/i/m/immune-boost-pequen_o.jpg" alt="Small" />					             -->

                <div class="item-align">
                    <div class="content-align-left">
                        <a href="http://resetjuice.com.mx/index.php/immune-boost.html">
                            <h2 class="group inner list-group-item-heading">
                                Vive la proteccion con <span class="immune-boost">Immune Boost</span></h2>
                        </a>

                        <p class="group inner list-group-item-text">
                            Fortalece el sistema inmunológico, es desintoxicante, antiviral, anti-inflamatorio, mejora
                            la digestión y disminuye las nauseas.<br>
                            <br>
                            Contiene: limón amarillo y verde, jengibre, cúrcuma, pimienta cayena, miel de agave y aceite
                            de orégano, por día.<br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-centered">
                <!-- 					<img style="visibility:hidden" class="group" src="http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/i/m/immune-boost-pequen_o.jpg" alt="Small" />					             -->

                <div class="item-align">
                    <div class="content-align">

                        <div class="">

                            <a class="btn btn-cart button add_to_cart_small button-ajax-cart-id-5"
                               onclick="ajaxcart('http://resetjuice.com.mx/index.php/checkout/cart/add/uenc/aHR0cDovL3Jlc2V0anVpY2UuY29tLm14L2luZGV4LnBocC8,/product/5/form_key/M6UUTmtz0FA5B6vn/','5');">
                                <!-- 												<i class="fa fa-plus"> </i> -->
                                Quiero mi Detox</a>


                        </div>
                        <div class="novaworks-quick-act">

                        </div>
                        <div class="">
                            <div class="novaworks-social-share">
                                <ul>

                                    <li class="facebook">
                                        <a href="http://www.facebook.com/sharer.php?u=http://resetjuice.com.mx/index.php/immune-boost.html&amp;images=http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/i/m/immune-boost-pequen_o.jpg"
                                           target="_blank" title="Compartir en Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>

                                    <li class="twitter">
                                        <a href="https://twitter.com/share?url=http://resetjuice.com.mx/index.php/immune-boost.html"
                                           target="_blank" title="Compartir en Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>

                                    <li class="pinterest">
                                        <a href="//pinterest.com/pin/create/button/?url=http://resetjuice.com.mx/index.php/immune-boost.html&amp;media=http://resetjuice.com.mx/media/catalog/product/cache/1/small_image/310x424/17f82f742ffe127f42dca9de82fb58b1/i/m/immune-boost-pequen_o.jpg&amp;description=Fortalece el sistema inmunológico, es desintoxicante, antiviral, anti-inflamatorio, mejora la digestión y disminuye las nauseas.&lt;br /&gt;
&lt;br /&gt;
Contiene: limón amarillo y verde, jengibre, cúrcuma, pimienta cayena, miel de agave y aceite de orégano, por día.&lt;br /&gt;
" target="_blank" title="Pin on Pinterest">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


</div>
<script type="text/javascript">
    //<![CDATA[
    var productAddToCartForm = new VarienForm('product_addtocart_form');
    productAddToCartForm.submit = function (button, url) {
        if (this.validator.validate()) {
            var form = this.form;
            var oldUrl = form.action;
            if (url) {
                form.action = url;
            }
            var e = null;
            // Start of our new ajax code
            if (!url) {
                url = jQuery('#product_addtocart_form').attr('action');
            }
            url = url.replace("checkout/cart", "ajax/index"); // New Code
            var data = jQuery('#product_addtocart_form').serialize();
            data += '&isAjax=1';
            jQuery('#ajax_loader').show();
            try {
                jQuery.ajax({
                    url: url,
                    dataType: 'json',
                    type: 'post',
                    data: data,
                    success: function (data) {
                        jQuery('#ajax_loader').hide();
                        parent.setAjaxData(data, true);
                    }
                });
            } catch (e) {
            }
            // End of our new ajax code
            this.form.action = oldUrl;
            if (e) {
                throw e;
            }
        }
    }.bind(productAddToCartForm);
    productAddToCartForm.submitLight = function (button, url) {
        if (this.validator) {
            var nv = Validation.methods;
            delete Validation.methods['required-entry'];
            delete Validation.methods['validate-one-required'];
            delete Validation.methods['validate-one-required-by-name'];
            if (this.validator.validate()) {
                if (url) {
                    this.form.action = url;
                }
                this.form.submit();
            }
            Object.extend(Validation.methods, nv);
        }
    }.bind(productAddToCartForm);

    function hidewindow(windowBox, windowOver) {
        windowOver.fadeOut(400);
        windowBox.fadeOut(400).html('');
    }

    //]]>
</script>
</div>

