<?php
/**
 * Fontis Recaptcha Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Fontis
 * @package    Fontis_Recaptcha
 * @author     Denis Margetic
 * @author     Chris Norton
 * @copyright  Copyright (c) 2011 Fontis Pty. Ltd. (http://www.fontis.com.au)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="page-title">
    <h1><?php echo Mage::helper('contacts')->__('Contact Us') ?></h1>
</div>
	<div class="row block_contact">
		<div class="col-md-7 col-sm-8">
			<?php if ($block_contact_content = $this->getLayout()->createBlock('cms/block')->setBlockId('block_contact_content')->toHtml()): ?>
				<div class="block-contact-content"><?php echo($block_contact_content)?></div>
			<?php endif?>
		</div>
		<div class="col-md-5 col-sm-4">
			<form action="<?php echo $this->getFormAction(); ?>" id="contactForm" method="post">
			    <div class="fieldset">
			        <h2 class="legend"><?php echo Mage::helper('contacts')->__('Contact Information') ?></h2>
			        <ul class="form-list">
			            <li class="fields">
			                <div class="field">
			                    <label for="name" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Name') ?></label>
			                    <div class="input-box">
			                        <input name="name" id="name" title="<?php echo Mage::helper('contacts')->__('Name') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserName()) ?>" class="input-text required-entry" type="text" />
			                    </div>
			                </div>
			                <div class="field">
			                    <label for="email" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Email') ?></label>
			                    <div class="input-box">
			                        <input name="email" id="email" title="<?php echo Mage::helper('contacts')->__('Email') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserEmail()) ?>" class="input-text required-entry validate-email" type="text" />
			                    </div>
			                </div>
			            </li>
			            <li>
			                <label for="telephone"><?php echo Mage::helper('contacts')->__('Telephone') ?></label>
			                <div class="input-box">
			                    <input name="telephone" id="telephone" title="<?php echo Mage::helper('contacts')->__('Telephone') ?>" value="" class="input-text" type="text" />
			                </div>
			            </li>
			            <li class="wide">
			                <label for="comment" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Comment') ?></label>
			                <div class="input-box">
			                    <textarea name="comment" id="comment" title="<?php echo Mage::helper('contacts')->__('Comment') ?>" class="required-entry input-text" cols="5" rows="3"></textarea>
			                </div>
			            </li>
			        </ul>
			    </div>
			    <div class="buttons-set">
			        <p class="required"><?php echo Mage::helper('contacts')->__('* Required Fields') ?></p>
			        <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
			        <button type="submit" title="<?php echo Mage::helper('contacts')->__('Submit') ?>" class="button"><span><span><?php echo Mage::helper('contacts')->__('Submit') ?></span></span></button>
			    </div>
			</form>
		</div>
	</div>
	<?php if ($block_contact_top = $this->getLayout()->createBlock('cms/block')->setBlockId('block_contact_top')->toHtml()): ?>
		<div class="row block-contact-top">
			<div class="col-md-12">
			<?php echo($block_contact_top)?>
			</div>
		</div>
	<?php endif?>
<script type="text/javascript">
//<![CDATA[
    var contactForm = new VarienForm('contactForm', true);
//]]>
</script>

    		


