
<?php
 $storeId = Mage::app()->getStore()->getStoreId();
 $custom_header					=	Mage::getStoreConfig('themeoptions_general/general_options/custom_header', $storeId);
 $header_get = isset($_GET['header']) ? $_GET['header'] : '';
 if($header_get) {
	 $custom_header = $header_get;
 }else{
 	$custom_header					=	Mage::getStoreConfig('themeoptions_general/general_options/custom_header', $storeId);
 }
?>
<?php $_cartQty = $this->getSummaryCount() ?>
<li class="parent shopping-bag-item">
	<a class="cart-contents" href="<?php echo $this->getUrl('checkout/cart') ?>" title="<?php echo $this->__('View contents of your shopping cart') ?>">
		<i class="fa fa-shopping-cart"></i>
		<span class="labels"><?php echo $this->__('CARRITO DE COMPRA') ?></span>
		<span class="amount">		
			<?php if($_cartQty==0):?>
			<span><?php echo '(0)'?></span>					
			<?php else: ?>
			    <span><?php echo '('.$_cartQty.')'?><?php echo $this->__(' por ') ?><?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()); ?></span>	
			<?php endif ?>
		</span>
	</a>
    <?php $_items = $this->getRecentItems(); ?>
	<ul class="sub-menu">
		<li>
			<div class="shopping-bag">
				<?php if($_cartQty==0):?>
				<div class="bag-header"><?php echo $this->__('Hay <a href="%s">0 item</a> en tu carrito.', $this->getUrl('checkout/cart')) ?></div>					
				<?php elseif ($_cartQty==1): ?>
				    <div class="bag-header"><?php echo $this->__('Hay <a href="%s">1 elemento</a> en tu carrito.', $this->getUrl('checkout/cart')) ?></div>
				<?php else: ?>
				    <div class="bag-header"><?php echo $this->__('Hay <a href="%s">%s elementos</a> en tu carrito.', $this->getUrl('checkout/cart'), $_cartQty) ?></div>
				<?php endif ?>
				<div class="bag-contents">
				<?php foreach($_items as $_item): ?>
				    <?php echo $this->getItemHtml($_item) ?>
				<?php endforeach; ?>
				</div>          
				<script type="text/javascript">decorateList('cart-sidebar', 'none-recursive')</script>
				<div class="bag-buttons">
					<a href="<?php echo $this->getUrl('checkout/onepage') ?>" class="sf-roll-button checkout-button">
						<span><?php echo $this->__('Realizar Compra') ?></span>
						<span><?php echo $this->__('Realizar Compra') ?></span>
					</a>
					<a href="<?php echo $this->getUrl('checkout/cart') ?>" class="sf-roll-button bag-button">
						<span><?php echo $this->__('Ver Carrito') ?></span>
						<span><?php echo $this->__('Ver Carrito') ?></span>
					</a>
				</div>
			</div>
		</li>
	</ul>	            
</li>
