<?php
$storeId = Mage::app()->getStore()->getStoreId();
$ajax_cart = Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/ajax_cart', $storeId);
$image_product_hover = Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/image_product_hover', $storeId);
$rating_wishlist_compare = Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/rating_wishlist_compare', $storeId);
$quick_view = Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/ajax_quickview', $storeId);
$thumb_width = Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/standard_image_width', $storeId);
$thumb_height = Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/standard_image_height', $storeId);
$_productCollection = $this->getProductCollection();
$_helper = $this->helper('catalog/output');
if ($this->getIsColumn() == 6) {
    $col = 2;
} elseif ($this->getIsColumn() == 4) {
    $col = 3;
} elseif ($this->getIsColumn() == 3) {
    $col = 4;
} elseif ($this->getIsColumn() == 2) {
    $col = 6;
}
?>
<div class="widget-list-items-products">
<h4 class="spb_heading">
    <p><?php echo $this->getWidgetTitle(); ?></p>

    <div class="heading-icon"></div>
</h4>


<div>
<div class="paragraph-page">
    <h2>Arma el plan a tu medida</h2>
    <p>Freestlye es el programa de jugos para consumo libre como complemento a tu alimentación para llevar una vida más sana. Cada jugo tiene una combinación de ingredientes que proporciona beneficios específicos para el cuerpo de este modo puedes atender tus necesidades específicas y proporcionarle a tu cuerpo un boost de vitaminas, minerales, antioxidantes y enzimas en cada trago.</p>
    <p>
        <strong>Tomate tu jugo del día!</strong>
    </p>
</div>


<div id="products" class="row">
<?php $i = 0;
foreach ($_productCollection as $_product): ?>
    <?php
    $oType = false;
    $product = Mage::getModel('catalog/product');
    $product->load($_product->getId());
    foreach ($product->getOptions() as $o) {
        $optionType = $o->getType();
        if ($optionType == 'file') {
            $oType = true;
        }
    }
    ?>

    <div class="col-xs-12 col-lg-12">
        <div class="">
            <div class="row row-centered product-item">
                <div class="col-sm-2 col-xs-7 col-centered ">
                    <div class="item-align">
                        <div class="content-align">
                            <a href="<?php echo $_product->getProductUrl() ?>">
                                <img class="group"
                                     src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize($thumb_width, $thumb_height); ?>"
                                     alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 col-xs-7  col-centered">
                    <div class="item-align">
                        <div class="content-align-left">
                            <a href="<?php echo $_product->getProductUrl() ?>">
                                <h2 class="group inner list-group-item-heading">
                                    <?php echo $_product->getSubtitle(); ?> <span
                                        class="<?php echo $_product->getClasstitle(); ?>"> <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></span>
                                </h2>
                            </a>

                            <p class="group inner list-group-item-text">
                                <?php if ($_product->getShortDescription()): ?>
                                    <?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?>
                                <?php endif; ?>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-7 col-centered">

                    <div class="item-align">
                        <div class="content-align">
                            <?php if ($this->getShowQuickAct()) { ?>
                                <div class="">
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php if ($ajax_cart): ?>
                                            <?php if (!($_product->getTypeInstance(true)->hasRequiredOptions($_product) || $_product->isGrouped())): ?>
                                                <a class="btn btn-cart button add_to_cart_small button-ajax-cart-id-<?php echo $_product->getId() ?>"
                                                   onclick="ajaxcart('<?php echo $this->getAddToCartUrl($_product) ?>','<?php echo $_product->getId() ?>');">
                                                    <!-- 												<i class="fa fa-plus"> </i> -->
                                                    <?php echo $this->__('Add to Cart') ?></a>
                                            <?php else: ?>
                                                <a class="btn btn-cart button ajaxcart_colorbox add_to_cart_small"
                                                   href="<?php echo $this->getUrl('ajax/index/options', array('product_id' => $_product->getId())); ?>">
                                                    <!-- 												<i class="fa fa-plus"></i> -->
                                                    <?php echo $this->__('Add to Cart') ?></a>
                                            <?php endif; ?>
                                        <?php else: ?>
                                            <a class="btn btn-cart button add_to_cart_small"
                                               onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>');">
                                                <!-- 												<i class="fa fa-plus"></i> -->
                                                <?php echo $this->__('Add to Cart') ?></a>
                                        <?php endif; ?>
                                    <?php endif; //end for saleable product ?>
                                </div>
                                <div class="novaworks-quick-act">
                                    <?php if ($rating_wishlist_compare): ?>
                                        <div class="quick-act-left">
                                            <?php if ($quick_view && $this->getShowQuickView()): ?>
                                                <a class="act-quickview-button"
                                                   href="<?php echo $this->getUrl('ajax/index/quickview', array('product_id' => $_product->getId())); ?>"
                                                   data-id="<?php echo $_product->getId() ?>"><i
                                                        class="fa fa-search-plus"></i></a>
                                            <?php endif; ?>
                                            <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                                <a title="<?php echo $this->__('Comparar') ?>"
                                                   class="act-add-to-compare button-ajax-compare-id-<?php echo $_product->getId() ?>"
                                                   href="<?php echo $_compareUrl ?>"
                                                   data-id="<?php echo $_product->getId() ?>"><i
                                                        class="fa fa-exchange"></i></a>
                                            <?php endif; ?>
                                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                <a title="Wishlist"
                                                   class="act-add-to-wishlist button-ajax-wishlist-id-<?php echo $_product->getId() ?>"
                                                   href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"
                                                   data-id="<?php echo $_product->getId() ?>"><i class="fa fa-star"></i></a>
                                            <?php endif; ?>
                                        </div>
                                    <?php endif; ?>
                                </div>
                            <?php } ?>
                            <div class="">
                                <div class="novaworks-social-share">
                                    <ul>

                                        <li class="facebook">
                                            <a href="http://www.facebook.com/sharer.php?u=<?php echo $_product->getProductUrl() ?>&amp;images=<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize($thumb_width, $thumb_height); ?>"
                                               target="_blank" title="<?php echo $this->__('Share on Facebook') ?>">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>

                                        <li class="twitter">
                                            <a href="https://twitter.com/share?url=<?php echo $_product->getProductUrl() ?>"
                                               target="_blank" title="<?php echo $this->__('Share on Twitter') ?>">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>

                                        <li class="pinterest">
                                            <a href="//pinterest.com/pin/create/button/?url=<?php echo $_product->getProductUrl() ?>&amp;media=<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize($thumb_width, $thumb_height); ?>&amp;description=<?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?>"
                                               target="_blank" title="<?php echo $this->__('Pin on Pinterest') ?>">
                                                <i class="fa fa-pinterest"></i>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="button-product">
                                <a href="<?php echo $_product->getProductUrl() ?>" class="btn btn-cart button">
                                    Ver producto
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

<?php endforeach; ?>



<!--
       
        <?php if ($i++ % $this->getIsColumn() == 0): ?>
        <div class="row products-grid">	
        <?php endif ?>		
   		<div class="col-md-<?php echo $col ?> item">
					<div class="item-product-image-box"> 
				<?php include('labels.phtml') ?>
	            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
	                          <?php
if ($image_product_hover) {
    ?>
	                <div class="front margin-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($thumb_width, $thumb_height); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></div>
	                <?php
    $_gallery = Mage::getModel('catalog/product') ->load($_product ->getId()) ->getMediaGalleryImages();
    foreach ($_gallery as $_image):
        ?>
	                 <div class="product-img-additional back margin-image">
	                 	<img src="<?php echo $this ->helper('catalog/image') ->init($_product, 'thumbnail', $_image ->getFile()) ->resize($thumb_width, $thumb_height); ?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" title="<?php echo $this->htmlEscape($_image->getLabel()) ?>"/>
	                 </div>
	                 <?php
        break;
    endforeach;
    ?>
					<?php
} else {
    ?>
						<div class="margin-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($thumb_width, $thumb_height); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
					 	</div>
					<?php
}
?>
	            </a>
	            <?php if ($this->getShowQuickAct()) { ?>
					<div class="novaworks-quick-act">	
					<?php if ($_product->isSaleable()): ?>
						<?php if ($ajax_cart): ?>
										<?php if (!($_product->getTypeInstance(true)->hasRequiredOptions($_product) || $_product->isGrouped())): ?>
											<a class="add_to_cart_small button-ajax-cart-id-<?php echo $_product->getId() ?>" onclick="ajaxcart('<?php echo $this->getAddToCartUrl($_product) ?>','<?php echo $_product->getId() ?>');"><i class="fa fa-plus"> </i><?php echo $this->__('Add to Cart') ?></a>
										<?php else: ?>
											<a class="ajaxcart_colorbox add_to_cart_small" href="<?php echo $this->getUrl('ajax/index/options', array('product_id' => $_product->getId())); ?>"><i class="fa fa-plus"></i> <?php echo $this->__('Add to Cart') ?></a>
										<?php endif; ?> 
										<?php else: ?>
											<a class="add_to_cart_small" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>');"><i class="fa fa-plus"></i> <?php echo $this->__('Add to Cart') ?></a>
										<?php endif; ?>
					<?php endif; //end for saleable product ?>	
										
					<?php if ($rating_wishlist_compare): ?>
						<div class="quick-act-right">	
						<?php if ($quick_view && $this->getShowQuickView()): ?>
							<a class="act-quickview-button" href="<?php echo $this->getUrl('ajax/index/quickview', array('product_id' => $_product->getId())); ?>" data-id="<?php echo $_product->getId() ?>"><i class="fa fa-search-plus"></i></a>
						<?php endif; ?>
							<?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
								<a title="<?php echo $this->__('Comparar') ?>" class="act-add-to-compare button-ajax-compare-id-<?php echo $_product->getId() ?>" href="<?php echo $_compareUrl ?>" data-id="<?php echo $_product->getId() ?>"><i class="fa fa-exchange"></i></a>
							<?php endif; ?>
							<?php if ($this->helper('wishlist')->isAllow()) : ?>
								<a title="Wishlist" class="act-add-to-wishlist button-ajax-wishlist-id-<?php echo $_product->getId() ?>" href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" data-id="<?php echo $_product->getId() ?>"><i class="fa fa-star"></i></a>
							<?php endif; ?> 
						</div>
					<?php endif; ?> 
					</div>
					<?php } ?>
		    </div>
	        <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h3>
			<?php echo $this->getPriceHtml($_product, true) ?>
			<div class="categories-list-each">
			<?php $categories = $_product->getCategoryIds(); ?>
            <?php $j = 0;
foreach ($categories as $k => $_category_id): ?>
               <?php if ($j < 2): $_category = Mage::getModel('catalog/category')->load($_category_id) ?>
               <a href="<?php echo $_category->getUrl() ?>"><?php echo $_category->getName() ?></a><?php if ($j < 1): ?>,<? endif ?>
            <?php endif;
    $j++; endforeach; ?>
			</div>
							<div class="rating-product-box">
				            	<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
							</div>				
	    </div>
        <?php if ($i % $this->getIsColumn() == 0 || $i == $this->getProductCount()): ?>
        </div>
        <?php endif ?>
-->


</div>
<script type="text/javascript">
    //<![CDATA[
    var productAddToCartForm = new VarienForm('product_addtocart_form');
    productAddToCartForm.submit = function (button, url) {
        if (this.validator.validate()) {
            var form = this.form;
            var oldUrl = form.action;
            if (url) {
                form.action = url;
            }
            var e = null;
            // Start of our new ajax code
            if (!url) {
                url = jQuery('#product_addtocart_form').attr('action');
            }
            url = url.replace("checkout/cart", "ajax/index"); // New Code
            var data = jQuery('#product_addtocart_form').serialize();
            data += '&isAjax=1';
            jQuery('#ajax_loader').show();
            try {
                jQuery.ajax({
                    url: url,
                    dataType: 'json',
                    type: 'post',
                    data: data,
                    success: function (data) {
                        jQuery('#ajax_loader').hide();
                        parent.setAjaxData(data, true);
                    }
                });
            } catch (e) {
            }
            // End of our new ajax code
            this.form.action = oldUrl;
            if (e) {
                throw e;
            }
        }
    }.bind(productAddToCartForm);
    productAddToCartForm.submitLight = function (button, url) {
        if (this.validator) {
            var nv = Validation.methods;
            delete Validation.methods['required-entry'];
            delete Validation.methods['validate-one-required'];
            delete Validation.methods['validate-one-required-by-name'];
            if (this.validator.validate()) {
                if (url) {
                    this.form.action = url;
                }
                this.form.submit();
            }
            Object.extend(Validation.methods, nv);
        }
    }.bind(productAddToCartForm);

    function hidewindow(windowBox, windowOver) {
        windowOver.fadeOut(400);
        windowBox.fadeOut(400).html('');
    }

    //]]>
</script>
</div>





