<?php
$storeId = Mage::app()->getStore()->getStoreId();
$ajax_cart = Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/ajax_cart', $storeId);
$image_product_hover = Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/image_product_hover', $storeId);
$rating_wishlist_compare = Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/rating_wishlist_compare', $storeId);
$quick_view = Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/ajax_quickview', $storeId);
$thumb_width = Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/standard_image_width', $storeId);
$thumb_height = Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/standard_image_height', $storeId);
$_productCollection = $this->getProductCollection();
$r = $this->getFrontendHash();
$_helper = $this->helper('catalog/output');
?>
<div class="slider-items-products nova-widget-style-<?php echo $this->getWidgetStyle() ?>">
    <h4 class="spb_heading">
        <p><?php echo $this->getWidgetTitle(); ?></p>

        <div class="heading-icon"></div>
    </h4>
    <div id="novaworks_slider_<?php echo $r; ?>" class="product-flexslider hidden-buttons">
        <div class="slider-items slider-width-col<?php echo $this->getShowItems() ?>">
            <?php $i = 0;
            foreach ($_productCollection as $_product): ?>
                <?php
                $oType = false;
                $product = Mage::getModel('catalog/product');
                $product->load($_product->getId());
                foreach ($product->getOptions() as $o) {
                    $optionType = $o->getType();
                    if ($optionType == 'file') {
                        $oType = true;
                    }
                }
                ?>
                <!-- Item -->
                <div class="item">
                    <div class="item-product-image-box">
                        <?php include('labels.phtml') ?>
                        <a href="<?php echo $_product->getProductUrl() ?>"
                           title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"
                           class="product-image">
                            <?php
                            if ($image_product_hover) {
                                ?>
                                <div class="front margin-image"><img
                                        src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize($thumb_width, $thumb_height); ?>"
                                        alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
                                </div>
                                <?php
                                $_gallery = Mage::getModel('catalog/product') ->load($_product ->getId()) ->getMediaGalleryImages();
                                foreach ($_gallery as $_image):
                                    ?>
                                    <div class="product-img-additional back margin-image">
                                        <img
                                            src="<?php echo $this ->helper('catalog/image') ->init($_product, 'thumbnail', $_image ->getFile())->keepFrame(false)->resize($thumb_width, $thumb_height); ?>"
                                            alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>"
                                            title="<?php echo $this->htmlEscape($_image->getLabel()) ?>"/>
                                    </div>
                                    <?php
                                    break;
                                endforeach;
                                ?>
                            <?php
                            } else {
                                ?>
                                <div class="margin-image"><img
                                        src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize($thumb_width, $thumb_height); ?>"
                                        alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
                                </div>
                            <?php
                            }
                            ?>
                        </a>

                        <div class="product-intification-box"><i class="fa fa-circle-o-notch fa-spin"></i></div>
                        <div class="product-hover-box">
                            <?php if ($quick_view && $this->getShowQuickView()): ?>
                                <!-- 					<a class="act-quickview-button" href="<?php echo $this->getUrl('ajax/index/quickview', array('product_id' => $_product->getId())); ?>" data-id="<?php echo $_product->getId() ?>"><i class="fa fa-search-plus"></i></a>  -->
                            <?php endif; ?>

                            <a class="act-imageview-link" href="<?php echo $_product->getProductUrl() ?>">
                                <!-- 										<i class="fa fa-chain"></i> -->
                            </a>

                        </div>
                        <div class="rating-product">
                            <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                        </div>
                    </div>
                    <h3 class="product-name">
                        <a href="<?php echo $_product->getProductUrl() ?>"
                           title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a>
                    </h3>

                    <div class="product-description-widget">
                        <?php echo $_product->getShortDescription(); ?>
                    </div>
                    <br/>
                    <?php if($_product->getTypeId() != 'bundle') {?>
                        <?php echo $this->getPriceHtml($_product, true) ?>
                    <?php } ?>

                    <?php if ($this->getShowQuickAct()) { ?>
                        <div class="novaworks-quick-act">
                            <?php if ($_product->isSaleable()): ?>
                                <?php if ($ajax_cart): ?>
                                    <?php if (!($_product->getTypeInstance(true)->hasRequiredOptions($_product) || $_product->isGrouped())): ?>
                                        <a class="add_to_cart_small button-ajax-cart-id-<?php echo $_product->getId() ?>"
                                           onclick="ajaxcart('<?php echo $this->getAddToCartUrl($_product) ?>','<?php echo $_product->getId() ?>');"><?php echo $this->__('Add to Cart') ?></a>
                                    <?php else: ?>
                                        <a class="ajaxcart_colorbox add_to_cart_small"
                                           href="<?php echo $this->getUrl('ajax/index/options', array('product_id' => $_product->getId())); ?>"><?php echo $this->__('Add to Cart') ?></a>
                                    <?php endif; ?>
                                <?php else: ?>
                                    <a class="add_to_cart_small"
                                       onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>');"><?php echo $this->__('Add to Cart') ?></a>
                                <?php endif; ?>
                            <?php endif; //end for saleable product ?>

                            <?php if ($rating_wishlist_compare): ?>
                                <div class="quick-act-right">

                                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                        <a title="Wishlist"
                                           class="act-add-to-wishlist button-ajax-wishlist-id-<?php echo $_product->getId() ?>"
                                           href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"
                                           data-id="<?php echo $_product->getId() ?>"><i class="fa fa-heart-o"></i></a>
                                    <?php endif; ?>


                                    <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                        <a title="<?php echo $this->__('Comparar') ?>"
                                           class="act-add-to-compare button-ajax-compare-id-<?php echo $_product->getId() ?>"
                                           href="<?php echo $_compareUrl ?>" data-id="<?php echo $_product->getId() ?>"><i
                                                class="fa fa-exchange"></i></a>
                                    <?php endif; ?>
                                </div>
                            <?php endif; ?>
                        </div>
                    <?php } ?>


                </div>
                <!-- End Item -->

            <?php endforeach; ?>
        </div>
    </div>
</div>
<script type="text/javascript">
    //<![CDATA[
    jQuery(document).ready(function ($) {
        jQuery("#novaworks_slider_<?php echo $r;?> .slider-items").owlCarousel({
            items: <?php echo $this->getShowItems()?>, //10 items above 1000px browser width
            itemsDesktop: [1000, <?php echo $this->getShowItemsDesktop()?>], //5 items between 1000px and 901px
            itemsDesktopSmall: [900, <?php echo $this->getShowItemsDesktopSmall()?>], // 3 items betweem 900px and 601px
            itemsTablet: [600, <?php echo $this->getShowItemsTablet()?>], //2 items between 600 and 0;
            itemsMobile: [320, <?php echo $this->getShowItemsMobile()?>],
            navigation: true,
            navigationText: [" ", " "],
            slideSpeed: 500,
            pagination: false
        });
    });
    //]]>
</script>






