<?php 
	$sale = false;
	$new_label = Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/new_product_label', $storeId);
	$new_position = Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/new_product_label_position', $storeId);
	$sale_label = Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/sale_product_label', $storeId);
	$sale_position = Mage::getStoreConfig('themeoptions_general/prodcuts_list_page/sale_product_label_position', $storeId);
	if ($new_label)
	{
		$specialPrice = number_format($_item->getFinalPrice(), 2);
		$regularPrice = number_format($_item->getPrice(), 2);
		if ($specialPrice != $regularPrice){
	       	$sale = true;
		}
	}
    
	$new = false;
	if ($sale_label)
	{
        $now = date("Y-m-d H:m:s");   
        $newFromDate = $_item->getNewsFromDate();
        $newToDate = $_item->getNewsToDate();                                               
        if($newFromDate < $now && $newToDate > $now){
            $new = true;
        }
	}
    
    if($new){
        ?>
            <div class="novaworks-product-badge novaworks-new-badge"><?php echo $this->__('New') ?></div>
            
        <?php
    }
    
    if($sale){
        ?>
            <div class="novaworks-product-badge novaworks-sale-badge"><?php echo $this->__('Sale') ?></div>
        <?php
    }
?>