<?php if ($posts = $this->getRecent()): ?>
<div class="row">
	<div class="col-md-12">
		<h4 class="spb_heading">
			<p><?php echo $this->getWidgetTitle(); ?></p>
			<div class="heading-icon"></div>
		</h4>
	</div>
</div>
<div class="row">
	<div class="spb_posts_carousel_widget">
		<div class="spb_wrapper carousel-wrap">
			<div id="latest-post" class="owl-carousel hidden-buttons">
            <?php foreach ($posts as $post): ?>
            <div class="clearfix carousel-item recent-post">
            	<div class="details-wrap">	
					<h5><a href="<?php echo $post->getAddress(); ?>"><?php echo $post->getTitle(); ?></a></h5>	            
<!-- 					<div class="post-details"><?php /* <?php echo Mage::helper('blog')->__('By'); ?> <span><?php echo $post->getUser(); ?></span> <?php echo Mage::helper('blog')->__('on'); ?> */ ?><?php echo Mage::helper('core')->formatDate($post->getCreatedTime(),'medium', false); ?></div>	             -->
		        </div>
	            <?php if($img = $post->getPostImage(1100,733)): ?>
	            <figure>
		            <a class="link-to-post" href="<?php echo $post->getAddress(); ?>">
			            <div class="overlay">
				            <div class="thumb-info">
					            <i class="fa fa-file-text-alt"></i>
					        </div>
					    </div>
					    <img width="370" height="247" alt="<?php echo $post->getTitle(); ?>" src="<?php echo Mage::getBaseUrl('media').$img; ?>">
		            </a>
	            </figure>
	            <?php endif; ?>
				<div class="detail-post">	
					<?php echo $post->getShortContent();  ?>
				</div>
				<div class="novaworks-social-share">
						<ul class="news-social-list">							
							<li class="facebook">
								<a href="http://www.facebook.com/sharer.php?u=<?php echo $post->getAddress(); ?>" target="_blank" title="<?php echo $this->__('Share on Facebook')?>">
									<i class="fa fa-facebook"></i>	
								</a>
							</li>

							<li class="twitter">
								<a href="https://twitter.com/share?url=<?php echo $post->getAddress(); ?>" target="_blank" title="<?php echo $this->__('Share on Twitter')?>">
									<i class="fa fa-twitter"></i>
								</a>
							</li>

						</ul>
					</div>
	        </div>
            <?php endforeach; ?>
			</div>	
		</div> 
	</div> 
</div>
<script type="text/javascript">
//<![CDATA[
	jQuery(document).ready(function($) {
		jQuery("#latest-post").owlCarousel({
			items : 3, //10 items above 1000px browser width
	    	itemsDesktop : [1000,3], //5 items between 1000px and 901px
	      	itemsDesktopSmall : [900,3], // 3 items betweem 900px and 601px
	      	itemsTablet: [600,2], //2 items between 600 and 0;
	      	itemsMobile : [320,1],
	      	navigation : true,
	      	navigationText : ["",""],
	      	slideSpeed : 500,
	      	pagination : false
    	});
	}); 
//]]>
</script>
<?php endif; ?>