body, .custom-html .block-content p, .my-account .welcome-msg {
  color:#202020;
  font-family:'Lato', sans-serif !important;
  font-size:13px;
}
a, a:focus { color:#666666; }
a:hover {
  color:#00b06c !important;
  text-decoration:none;
}
a h3:hover{
	color: #00b06c !important;
	text-decoration: none;
}
.wrapper { background-color:#ffffff; }
.header-1 { color:#9b9b9b; }
.header-1 .mega-layout-custom-menu a, .header-1 .mega-layout-custom-menu a:focus, .shopping-bag-item a.cart-contents { color:#202020; }
h1, h2, h3, h4, h5, h6, #default-menu #nav li a, #wide-menu #nav > li > a, #wide-menu #nav ul.level0 > li > a, .footer-info-top .footer-info li, .footer-info-container .footer-info .about-responsive h4, .footer-info .newsletter-box .form-subscribe-header, .bottom-menu-column h4, .footer-aditional .facebook h4, .footer-aditional .twitter h4, .category-title h1, .home-content h3.title, .who-we-are h1, .main .col-main .page-title h1, .col-main .cart-empty a, .about-content .wel-come h2, .about-content .center-title h1, .about-content h2, .afew-container .retina-ready h3, .afew-container .mobile-friendly h3, .afew-container .wide-or h3, .afew-container .responsive-layout h3, .post-list-item h2 a { font-family:'Lato', sans-serif; }
h1, h2, h3, h4, h5, h6, .home-content h3.title, .who-we-are h1, .footer-info .newsletter-box .form-subscribe-header, .cart-accordion-heading .cart-accordion-toggle, .who-we-are h1.title, .who-we-are h2 { color:#202020 !important; }
h5, h5 a, h3 a, #menubar-controls a { color:#202020; }
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active, .a-few-features a:hover, #toTop { background-color:#00b06c; }
.header-container { background-color:#e4deda; }
.header-bottom { background-color:#00b06c; }
.header-bottom #search_mini_form { background-color:#007d4d; }
.circle-hover .circle-background { background-color:#00b06c; }
.owl-theme .owl-controlls .owl-buttons div {
  color:#f7f7f7;
  background:#202020;
}
.owl-theme .owl-controlls .owl-buttons div:hover { color:#f7f7f7; }
.owl-theme .owl-controlls .owl-buttons div:hover:hover { color:#00b06c !important; }
.block-newsletter .input-box button.button { background-color:#00b06c; }
.block-newsletter .input-box button.button:hover { background-color:#202020; }
.light-button .owl-theme .owl-controlls .owl-buttons div {
  color:#202020;
  background:#ffffff;
}
.light-button .owl-theme .owl-controlls .owl-buttons div:hover { color:#202020; }
.light-button .owl-theme .owl-controlls .owl-buttons div:hover:hover { color:#202020 !important; }
.pt_vmegamenu div.pt_menu.act .parentMenu a, .pt_vmegamenu div.popup a.act, .pt_vmegamenu .itemSubMenu a.level2:hover, .pt_vmegamenu .itemMenu a.level1.nochild:hover { color:#00b06c !important; }
.pages ol li:hover { background:#00b06c; }
.pages ol li.current {
  background-color:#00b06c !important;
  border:1px solid #00b06c !important;
  color:#ffffff;
}
#poll-answers span.label label { color:#666666; }
.header-container-1 .nav-container { border-top:5px solid #00b06c; }
.home-page-three .footer-page-three ul li { background-color:#cdcdcd; }
.home-page-three .footer-page-three ul li:hover { background-color:#00b06c; }
.my-account .welcome-msg { text-transform:none; }
.header-container-1 .welcome-msg, .header-container-1 .mini-cart .cart-icon-top span.amount, span.amount span.price { color:#00b06c; }
.mega-layout-custom-menu .menu-manager-menu li.active a, .mega-layout-custom-menu .menu-manager-menu li a:hover { color:#00b06c !important; }
.faq-items a:hover {
  border:1px solid #00b06c;
  background:#00b06c;
  color:#ffffff !important;
}
.parallax-box ul.social-icon li { background-color:#ffffff; }
.parallax-box ul.social-icon li:hover { background-color:#00b06c !important; }
.home-banner .view-more { background-color:#363636; }
.home-banner .view-more:hover { background-color:#00b06c !important; }
.home-tab-mega ul > li.active > a, .home-tab-mega ul > li.active > a:hover, .home-tab-mega ul > li > a:hover {
  background-color:#00b06c !important;
  color:#ffffff !important;
}
.sorter .view-mode .grid:hover, .sorter .view-mode strong, .sorter .view-mode a:hover, .ajax-loading, .sorter .view-mode strong, #twitter_update_list li .tweet-icon { background-color:#00b06c !important; }
#wide-menu #nav > li:hover > a, .block-inner-menu h4, .f-fix .special-price .price, .product-shop .block-detail-other span, #wide-menu #nav li a.level-top:hover, .home-content-container .filter-nav ul li a.selected, .block-box-inner h2 span { color:#00b06c !important; }
.nova-widget-style-mega-style h5.spb_heading { border-bottom:3px solid #00b06c; }
.i-top-right ul li.selected, .home-content-container .main-container .filter-nav ul li a.selected { color:#00b06c !important; }
.block-tags .block-content .tags-list a:hover, .icon-ok { color:#00b06c; }
#default-menu #nav li.active a span, #default-menu #nav li.level0.active a.level-top, #default-menu #nav li.level0:hover a.level-top, #default-menu #nav li.level0 a:hover { color:#00b06c; }
#wide-menu #nav ul.level0 > li > a {
  border-bottom:1px solid #00b06c !important;
  padding-bottom:10px;
  display:inline-block;
}
#opc-login h3, #opc-login .buttons-set .f-left { color:#00b06c !important; }
#checkout-step-login .buttons-set .button {
  background-color:#00b06c;
  color:#ffffff;
}
#checkout-step-login .buttons-set .button:hover {
  background-color:#202020;
  color:#ffffff !important;
}
.novaworks-navigation #novaworks-nav li.level0 ul li a:hover { color:#00b06c !important; }
.footer-info-container .footer-info .nova-footer-info .nova-footer-box1 p.view-more a:hover { background-color:#00b06c; }
.novaworks-navigation #novaworks-nav .active a { color:#00b06c !important; }
.banner-button-view { background-color:#202020; }
.banner-button-view:hover { background-color:#00b06c; }
.bag-buttons a {
  background-color:#f0f0f0;
  color:#202020;
}
a.checkout-button, a.create-account-button {
  background:#202020;
  color:#f7f7f7;
}
.bag-buttons a:hover, a.create-account-button:hover {
  background:#00b06c;
  color:#ffffff !important;
}
.block-compare .actions > .btn-clear-all-compare, .block-compare .actions > .button, .catalog-product-compare-index ul.add-to-links li a {
  background-color:#202020;
  color:#ffffff;
}
.block-compare .actions > .btn-clear-all-compare:hover, .block-compare .actions > .button:hover, .catalog-product-compare-index ul.add-to-links li a:hover {
  background-color:#00b06c;
  color:#ffffff !important;
}
a.checkout-button:hover {
  background:#00b06c;
  color:#ffffff;
}
.header-container-1 .novaworks-navigation { border-top:5px solid #00b06c; }
.item h3.product-name a:hover { color:#00b06c !important; }
.header .i-header-content .nova-mgt-header-social-icons ul li { background-color:#444444; }
.header .i-header-content .nova-mgt-header-social-icons ul li:hover { background-color:#00b06c; }
.item-product-image-box .product-hover-box .act-quickview-button, .item-product-image-box .product-hover-box .act-imageview-button {
  background-color:#ffffff;
  color:#202020;
}
.item-product-image-box .product-hover-box .act-quickview-button:hover, .item-product-image-box .product-hover-box .act-imageview-button:hover {
  background-color:#00b06c;
  color:#ffffff !important;
}
.header .i-header-content .nova-mgt-header-social-icons ul li a i { color:#ffffff; }
.header .i-header-content .nova-mgt-header-social-icons ul li a i:hover { color:#ffffff !important; }
.novaworks-navigation #novaworks-nav li.level0 ul li a { color:#666666 !important; }
.item:hover .line, .banner-item:hover .line { background:#00b06c; }
#wide-menu #nav > li.active > a, #wide-menu #nav > li.parent:hover > a, .header .mini-cart .block-content .price, #wide-menu #nav > li.parent.active > a, #wide-menu #nav ul.level0 > li > a, #wide-menu #nav ul li a:hover, .sorter .sort-by ul li a.active, .sorter .limiter ul li a.active, .special-price .price, .block .regular-price, .block .regular-price .price, .regular-price .price, .footer-info-container .footer-info .contact-us span, .products-list .desc a.link-learn, .block-tags .actions a:hover { color:#00b06c; }
.footer-info-top .footer-info ul li a { color:#202020; }
.footer-info-top i, .contact-us .phone, .contact-us .fax, .contact-us .support, .contact-us em, .contact-us i, .search-col .form-search:hover button.button, .header .i-header-content .nova-mgt-header-social-icons ul li a { color:#202020; }
.faq-list dd ul li a, .who-top .col-md-2 div i { color:#202020; }
.faq-list dd ul li a:hover, .who-top .col-md-2 div i:hover { color:#00b06c; }
.quick-act a, .mini-cart-act a, .btn-compare-remove, .nova-slider-direction-nav a, .contact-us .social-icons a, .product-shop i, .descriptions-hidden a i, .shopping-cart a i { color:#202020; }
.quick-act a:hover, .mini-cart-act a:hover, .btn-compare-remove:hover, .nova-slider-direction-nav a:hover, .contact-us .social-icons a:hover, .product-shop i:hover, .descriptions-hidden a i:hover, .shopping-cart a i:hover { color:#00b06c; }
.block-account .block-content li.current, .block-account .block-content li a:hover, .col-main .cart-empty a { color:#00b06c; }
.button, button, input[type="submit"], input[type="reset"], input[type="button"], .products-list .btn-cart { background-color:#202020; }
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .products-list .btn-cart:hover { background-color:#00b06c; }
.box-icon .box-icon-name i { color:#00b06c; }
a.novaworks-button-light, .box-icon .box-icon-name { border-color:#00b06c; }
a.novaworks-button-light:hover, a.novaworks-button-dark:hover, .box-icon .box-icon-name:hover { background:#00b06c; }
.novaworks-social-share ul li a i { color:#cccccc; }
.novaworks-social-share ul li a i:hover { color:#00b06c; }
.novaworks-social-share ul li a:hover { border-color:#00b06c; }
.block-layered-nav dt { color:#666666; }
.product-view .product-essential .btn-cart { background-color:#00b06c; }
.product-view .product-essential .btn-cart:hover { background-color:#00b06c; }
.block-tags .actions a { background-color:#202020; }
.block-tags .actions a:hover { background-color:#00b06c; }
.cart .totals .checkout-types li .button, .cart ul.checkout-types li button.button { background-color:#00b06c; }
.cart .totals .checkout-types li .button:hover, .cart ul.checkout-types li button.button:hover { background-color:#202020; }
.novaworks-new-badge {
  background-color:#0be691;
  color:#ffffff;
}
.novaworks-sale-badge {
  background-color:#fdaf08;
  color:#202020;
}
.easy-slider, .easy-slider #controls a {  }
.post-list-item h2 a {
  font-size:22px;
  text-transform:none;
  font-weight:normal;
  color:#202020;
}
.post-list-item h2 a:hover {
  color:#00b06c;
  text-decoration:none;
}
.post-list .pager .amount { line-height:30px; }
.post-list .limiter label {
  float:left;
  line-height:30px;
  margin-right:10px;
  margin-bottom:0;
}
.post-list .limiter select {
  width:50px;
  margin-bottom:0;
  margin-right:10px;
}
.post-list-item { border-bottom:#ebebeb solid 3px; }
.last .post-list-item { border-bottom:0; }
.featured-image {
  border:1px solid #dddddd;
  margin:4px 10px 10px 0 !important;
  padding:1px;
}
.descriptions-hidden .quick-act { background:#202020; }
.descriptions-hidden .quick-act:hover { background:#00b06c; }
.top-dropdown li:hover a, .added { color:#00b06c !important; }
.resp-tabs-list li:hover, .resp-tab-active, h2.resp-tab-active, .slider-menu-products > h4.menu_heading { color:#00b06c !important; }
.alert-box h6, .twitter-posts a { color:#00b06c !important; }
.full-width-text { background-color:#00b06c; }
.full-width-text:after { border-top-color:#00b06c; }
#shopping-cart-table #empty_cart_button, #shopping-cart-table .btn-continue, #shopping-cart-table .btn-update, #discount-coupon-form .discount .discount-form .buttons-set .button span span, .shipping .shipping-form ul.form-list li.li-button .button span span, #shopping-cart-table .a-center-qty a, #shopping-cart-table .a-center-price span.price, #shopping-cart-table tbody .a-center-subtotal span.price, #shopping-cart-totals-table .a-right strong span.price, .bag-product-price span.price, .aux-currency > a, .notification-message span { color:#00b06c; }
.footer-container, .footer-container h4 span {
  background-color:#ffffff;
  color:#202020;
}
.footer-container .widget-text { color:#9b9b9b; }
.footer-container a { color:#9b9b9b; }
.footer-container a:hover { color:#00b06c; }
.copyright-footer { background-color:#202020; }
.footer address { color:#9b9b9b; }
.footer address a { color:#ffffff; }
.footer address a:hover { color:#00b06c; }
.footer ul.links li a { color:#ffffff; }
.footer-info-container .footer-info h2.block-title, .footer-info-container h1, .footer-info-container h2, .footer-info-container h3, .footer-info-container h4, .footer-info-container h5 { color:#202020 !important; }
.footer-container h1, .footer-container h2, .footer-container h3, .footer-container h4, .footer-container h5 { color:#202020 !important; }
.footer-info-container .footer-info .nova-footer-info .nova-footer-box2 .col-md-7 p.post { border-bottom:1px solid #ffffff; }
#twitter_update_list li { border-bottom:1px solid #f0f0f0; }
.tp-caption.big_orange, .tp-caption.medium_grey { font-family:'Lato', sans-serif !important; }
.nova-widget-style-mega-style h4.spb_heading { border-color:#00b06c; }

.button-product a {
    background-color: #CCCCCC !important;
}

.button-product a:hover {
    background-color: gray !important;
}

span.mail {
    color: #00B06C;
}
